.icon-48-controlls {
      background-image: url(../images/l_controlls.png);
      padding-left:60px!important;
}

.icon-48-controll {
      background-image: url(../images/l_controlls.png);
      padding-left:60px!important;
}

